.btn {
    padding: 9px 40px;
}

.btn-primary {
    background-color: $primary-color;
    border-color: $primary-color;
}

.btn-transparent {
    border-radius: 3px;
    border: 1px solid transparent;
}

.btn-primary:hover,
.btn-primary:visited,
.btn-primary:focus,
.btn-primary:active { 
    $color: darken($primary-color, 10%);
}