html {
    
  /* Set the alignment and positioning here */
  position: relative;
  height: 100%;
    
}

body {
 min-height: 100%;   
}

.page-content {
    
  /* Set the alignment and positioning here */
//  padding-bottom: $footer-height + $default-padding;
//  min-height: 100%;     
    
  /* Set the alignment and positioning here */
  position: relative;
  margin-bottom: $footer-height;
  padding-bottom: $default-padding;
    
}

.push-content-down {
  min-height: 100%;   
}

.footer {

  /* Set the alignment and positioning here */
  text-align: center;
  position: absolute;
  bottom: 0;

  /* Set any sizing here */
  height: $footer-height;
  width: 100%;
    
  /* Set footer colors here */
  background-color: $footer-color;
  color: $footer-font-color;

  .name {
    line-height: $footer-height;   
  }
    
}
