@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "variables";



html, body {
    
    height: 100%;
    background: $background-color;
    
    a {
        color: $primary-color;
        
    }
}

