@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "variables";

@import "libraries/all";
@import "components/all";

body {
    background: $background-color;
    color: $text-color;
    
    a {
        color: $primary-color;
        
    }
}

