$primary-color:                 #DA4453 !default;
$secondary-color:               #4d4d4d !default;
$highlight-color:               #F1F3CE !default;
$emph-color:                    #F62A00 !default;
$dark-color:                    #f2b632 !default;

$dark-grey:                     #999999 !default;
$medium-grey:                   #aaaaaa !default;
$light-grey:                    #cccccc !default;
$white:                         #ffffff !default;
$background-color:              #f5f5f5 !default;
$text-color:                    $dark-color !default;

