$primary-color:                 #3B5998 !default;
$secondary-color:               #639BF1 !default;
$highlight-color:               #B6A754 !default;
$emph-color:                    #77BA9B !default;
$dark-color:                    #293E6A !default;

$transparent:                   rgba(255, 255, 255, 0.4);
$more-transparent:              rgba(255, 255, 255, 0.2);

$dark-grey:                     #2e2e2e !default;
$medium-grey:                   #aaaaaa !default;
$light-grey:                    #cccccc !default;
$white:                         #ffffff !default;
$background-color:              #f5f5f5 !default;
$text-color:                    black !default;

