$primary-color:                 #252839 !default;
$secondary-color:               #677077 !default;
$highlight-color:               #b5b5b7 !default;
$emph-color:                    #C5CE3D !default;
$dark-color:                    #f2b632 !default;

$dark-grey:                     #999999 !default;
$medium-grey:                   #aaaaaa !default;
$light-grey:                    #cccccc !default;
$white:                         #ffffff !default;
$background-color:              #f5f5f5 !default;
$text-color:                    $dark-color !default;

