@import "colors";

$default-padding:               20px;
$default-font-size:             15px;
$default-border-radius:         3px;

// header variables
$header-height:                 60px;
$padding-below-header:          $default-padding;

// footer variables
$footer-height:                 250px;
$footer-color:                  $dark-color;
$footer-font-color:             $dark-grey;


// chat message variables
$messages-height:               500px;

// login variables
$login-form-width:              250px;
$login-grow:                    50px;

// button variables
$padding-top-buttons:           10px;
$padding-side-buttons:          18px;
$button-border-radius:          $default-border-radius;
$default-button-width:          250px;
$button-margin:                 0 auto 10px auto;

// sizing for responsive design
$screen-xs-min:                 1px;
$screen-xs-max:                 767px;
$screen-sm-min:                 768px;
$screen-sm-max:                 991px;
$screen-md-min:                 992px;
$screen-md-max:                 1199px;
$screen-lg-min:                 1200px;

