
.btn {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}
.btn:hover, .btn:active, .btn:focus {
  outline: none;
}


.oversized-btn {
  font-weight: 400;
  text-decoration: none;
  padding: 0px 14px;
  border-radius: 4px;
  line-height: 50px;
  display: inline-block;
  width: 100%;
  font-size: 1.2em;
}

.btn-blue {
  color: white;
  background-color: $blue;

  &:hover, &:focus {
    background-color: $emph-blue;
    color: white;
  }
}


.btn-loadmore {
  border-top: #eee 1px solid;
  padding: 20px 30px 24px 30px;
  color: $text-gray;
  background-color: $nice-gray;
  text-transform: uppercase;

  &:hover {
    text-decoration: none;
    background-color: $emph-blue;
    color: white;
  }
}
