.parsley-errors-list {
  color: $error;
  margin-bottom: 0px;
}

input.parsley-error, input:focus.parsley-error {
  border-color: $error;
  margin-bottom: 0px;
}

.parsley-show-error {
  color: $error;
}
