.show-form {
  background-color: $background-gray;
  padding: 30px;
  border-radius: 4px;
}

.form-control {
  box-shadow: none;
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.5);
}
.form-control:active, .form-control:focus, .form-control:hover {
  outline: none;
  box-shadow: none;
  border-color: $blue;
}


input[type="file"] {
  display: none;
}
.custom-file-upload {
  display: inline-block;
  cursor: pointer;
}

.not-selected {
  color: $placeholder-gray;
}

.blue-selected {
  border: 1px solid $blue;
}


.form-line {
  padding-bottom: 25px;
}


.form-labels {
  label {
    width: 100%;
    font-weight: 300;
  }

  .input-one {
    width: 100%;
  }
}

.regular-textarea-block {
  border: 1px solid rgba(0, 0, 0, 0.5);

  &:focus {
    border: 1px solid $blue;
  }
}
