a:hover, a:active, a:focus {
  outline: none;
}

a {
  color: $blue;

  &:hover, &:focus {
    color: $emph-blue;
    text-decoration: none;
    font-weight: 400;
  }
}

a.edit-section {
  &:hover {
    font-weight: 300;
  }
}
