#page-content {
  background-color: $background-gray;
}
body {
  width: 100%;
  height: 100%; }

.menu,
.slideout-menu {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  width: 256px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  display: none; }

.panel,
.slideout-panel {
  position: relative;
  z-index: 1; }

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden; }

.slideout-open .slideout-menu {
  display: block; }

body {
  width: 100%;
  height: 100%; }

.menu,
.slideout-menu {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  width: 256px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  display: none; }

.panel,
.slideout-panel {
  position: relative;
  z-index: 1; }

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden; }

.slideout-open .slideout-menu {
  display: block; }


.menu {
  background-color: #323A45;
  background-image: linear-gradient(145deg, #323A45, #404348); }

.menu a {
  color: #fff; }

.menu a:hover {
  text-decoration: underline; }

.menu-header {
  height: 60px;
  border-bottom: 1px solid #555555;
  padding: 20px 0 20px 20px; }
.menu-header img {
  border-radius: 50%;
  height: 32px;
  margin-right: 15px; }

.menu-header-title {
  font-weight: 400;
  letter-spacing: 0.5px;
  margin: 0; }

.menu-section {
  margin: 25px 0; }

.menu-section-title {
  text-transform: uppercase;
  color: $nice-gray;
  font-weight: 200;
  font-size: 13px;
  letter-spacing: 1px;
  padding: 0 20px;
  margin: 0; }

.menu-section-list {
  padding: 0;
  margin: 10px 0;
  list-style: none; }

.menu-section-list a {
  display: block;
  font-weight: 200;
  padding: 10px 20px; }

.menu-section-list a:hover {
  background-color: rgba(255, 255, 255, 0.1);
  text-decoration: none;
  color: #F4F4F4; }

.panel {
  text-align: center;
  padding-top: 5px;
  min-height: 100%; }
