@import 'app/variables';
@import 'app/animations';
@import 'app/components';
@import 'app/widgets';
@import 'app/type';
@import 'app/form';
@import 'app/buttons';
@import 'app/nav';
@import 'app/sections';
@import 'app/links';
@import 'app/lists';
@import 'app/banner';
@import 'app/slideout';

body {
  font-family: "Roboto", arial, sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: .02em;
  color: $text-gray;
}
