#landing-header {
  background-image: url("../images/background.jpg");
  background-color: $blue;
  background-size: auto 100%;
  min-height: 50%;


  .brand-display {
    margin-top: 25%;
  }

  .subheader {
    margin-top: 25px;
    margin-bottom: 25px;
    font-weight: 300;
  }
}
